@font-face {
    font-family: 'NunitoSans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/NunitoSans-Regular.woff2') format('woff2'),
    url('../fonts/NunitoSans-Regular.woff2') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'NunitoSans';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/NunitoSans-Italic.woff2') format('woff2'),
    url('../fonts/NunitoSans-Italic.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'YesevaOne';
    font-weight: 400;
    font-style: italic;
    src: url('../fonts/Yeseva One-Regular.woff2 ') format(' woff2 '),
    url('../fonts/YesevaOne-Regular.woff') format('woff');
    font-display: swap;
}