.button {
    display: inline-block;

    background-color: #e3b873;
    color: #ffff;

    border: none;
    text-decoration: none;
    font-style: italic;
    outline: transparent;
}

.button_state_active {
    background-color: transparent;
    border: 1px solid #fff;
}

.button_size_large {
    padding: 19px 70px;
    width: 100%;
}


